@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  height: 100%;
  width: 100%;
}

#main-content .color-theme-1 {
  background-color: #FF9191 !important;
  color: white;
}

#main-content .color-theme-1:hover {
  background-color: #fc6969 !important;
  color: white;
}

#main-content .color-theme-2 {
  background-color: #fc6969 !important;
  color: white;
}

#main-content .color-theme-2:hover {
  background-color: #fd4343 !important;
  color: white;
}

.menu .menu-item .menu-link {
  color: #FF9191 !important;
}

.menu .menu-item .menu-link:hover {
  transition: all 0.3s;
  color: #fc6969 !important;
}

.placeholder-input {
  background-color: #fc6969 !important;
}

::-webkit-input-placeholder {
  color: #fc6969 !important;
}

:-moz-placeholder { 
  color: #fc6969 !important;  
}

::-moz-placeholder { 
  color: #fc6969 !important;  
}

:-ms-input-placeholder {  
  color: #fc6969 !important;  
}

.input-animal input {
  border: 1px solid #FF9191 !important;
}

.input-animal textarea {
  border: 1px solid #FF9191;
}

#animal-list .card-animal {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

#animal-list .card-animal .card-animal-link {
  position: relative;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  color: black;
}

#animal-list .card-animal .card-animal-link .card-animal-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: black !important;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
  text-decoration: none;
  color: orange !important;
}

#animal-list .card-animal .card-animal-link .card-animal-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#animal-list .card-animal .card-animal-link .card-animal-hover .card-animal-hover-content {
  font-size: 1.25rem;
  color: white;
}

#animal-list .card-animal .card-animal-link:hover .card-animal-hover {
  opacity: 0.7;
}

.zoom {
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.zoom img {
	max-width: 100%;
  transition: all 0.5s;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 3px solid #FF9191;
}

.zoom:hover img {
  opacity: 0.3;
  transform: scale(1.1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.animal-register-title {
  font-family: 'Fredoka One';
  color: #fc6969;
  font-size: 4rem;
}

.animal-list-link {
  color: #FF9191;
  text-decoration: none;
}

.animal-list-link:hover {
  color: #fd4343;
  text-decoration: none;
}

.input-group {

}

.input-group label {
  width: 50%;
}

.input-group input {
  width: 100%;
}

#file-upload-button {
  background: none;
  border: none;
}

.custom-file {
  border: 1px solid #FF9191 !important;
  border-radius: 4px;
}

.custom-file .file-input-label {
  padding-top: 3px;
  padding-left: 2px;
  /* width: 100%; */
  color: #fc6969;
}

.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 0;
  opacity: 0 !important;
}

.modal-header {
  border: none !important;
}

.modal-fotter {
  border: none !important;
}

.container-login {
  margin-top: 12.5%;
}

.container-login .row-login .col-login form {
  padding: 1.5rem;
  
  border-radius: 10px;
  box-shadow: 0 0 1em #fd4343;
}

.container-login .row-login .col-login form input {
  background-color: #ffd5d5;
}

.container-login .row-login .col-login form label { 
  color: #FF9191;
}

.container-login .row-login .col-login form input:-internal-autofill-selected {
  background-color: #ffd5d5;
}

.container-login .row-login .col-login form .btn-login {
  background-color: #fc6969;
  color: white;
}

.container-login .row-login .col-login form .btn-login:hover {
  background-color: #fd5a5a;
}
